html {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

body {
  height: 100%;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex-fill {
  flex: 1;
}

#editor-parent {
  border: 0;
  margin: 0;
  padding: 0;
}

#canvas-parent {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: black;
}